.form-part:not(.active) {
  display: none;
}

.modal-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  -webkit-flex-direction: column;
      -ms-flex-direction: column;
}

.modal-content {
  flex: 1;
}

.modal-body {
  max-height: 100% !important;
}

@media screen and (min-width: 600px) {
    .modal-container {
      width: 65rem;
      height: 58rem;
    }
}

#program + article ul {
  margin: 0;

  list-style: none;
}

#program + article li {
  margin: 0;
}

.internal {
  margin-left: 5px;
}
