#calendar + article th {
  padding: 8px;
}

#plan + article li {
    list-style: none;
    margin: 0;
    padding-top: 5px;
}

#plan + article h6 {
  padding: 10px 0;
}

#timetable + article span {
  margin-right: 16px;
}

#timetable + article a.btn {
  margin-bottom: 5px;
}
