td:nth-child(n+2) {
  background: none !important;
}

td:nth-child(n+2):hover {
  border: 2px solid #3d8b40;
}

.set-mark .card-header {
  font-size: 10pt !important;
}

.popover:hover:not(.active) .popover-container {
      -ms-transform: translate(-50%, -50%) scale(0) !important;
  -webkit-transform: translate(-50%, -50%) scale(0) !important;
          transform: translate(-50%, -50%) scale(0) !important;
  opacity: 0 !important;
}

.set-mark .card-body {
  padding: 0 !important;
}

.set-mark .card-body input {
  width: 50px;
}

.card-body button.input-group-btn {
  font-size: 12pt;
}

.card-header {
  white-space: pre;
}

.table th p {
  font-size: 8pt;
  color: #aaa;
  margin: 0;
}

table th div:hover p,
table th div.active p {
  color: #3d8b40;
}

.set-topic textarea {
  font-size: 9pt;
}

.set-topic .card-header {
  font-size: 10.5pt;
  padding-bottom: 0 !important;
}

.set-topic .form-group {
  text-align: right;
}

th div.popover-bottom .card::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #fff;
  margin-top: -15px;
  margin-left: -10px;
}

th div.popover-bottom .card::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  height: 10px;
  width: 10px;
  background-color: #fff;
  margin-left: -6px;
  margin-top: -5px;
  z-index: -1;
  box-shadow: 0px 0.4rem 1rem rgba(69, 77, 93, 0.3);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

th div.popover-left .card::before {
  content: "";
  position: absolute;
  bottom: 50%;
  right: 0%;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-left-color: #fff;
  margin-bottom: -8px;
  margin-right: -16px;
}

th div.popover-left .card::after {
  content: "";
  position: absolute;
  bottom: 50%;
  right: 0%;
  height: 10px;
  width: 10px;
  background-color: #fff;
  margin-right: -6px;
  margin-bottom: -5px;
  z-index: -1;
  box-shadow: 0px 0.4rem 1rem rgba(69, 77, 93, 0.3);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}