.navbar-section .btn {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

h4 {
  color: #1C7F00;
  margin-bottom: 0;
}

.header-logo {
  position: relative;
  left: 15px;
  bottom: 5px;
  width: 80%;
  height: 80%;
}

.no-outline:focus {
  box-shadow: none;
}

.main-bar {
  padding-top: 20px;
}

article img {
  float: left;
  margin: 0 20px 15px 0;
}