.navbar-section .btn {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

h4 {
  margin-bottom: 0;

  color: #1C7F00;
}

.header-logo {
  position: relative;
  bottom: 5px;
  left: 15px;

  width: 80%;
  height: 80%;
}

.no-outline:focus {
  box-shadow: none;
}

.main-bar {
  padding-top: 20px;
}

article img {
  float: left;

  margin: 0 20px 15px 0;
}
