{% extends "base.j2" %}
{% block title %}О нас{% endblock %}
{% block css %}<link href="{{ url_for('static', filename='css/about.css') }}" rel="stylesheet" type="text/css" />{% endblock %}

{% block pc_nav %}
  {% for id, name in [('about', 'О нас'),
                      ('achievments', 'Достижения'),
                      ('graduates', 'Выпускники'),
                      ('history', 'История'),
                      ('staff', 'Сотрудники'),
                      ('jobs', 'Вакансии'),
                      ('dorm', 'Общежитие'),
                      ('first-aid', 'Медицинский пункт'),
                      ('pay_details', 'Общие и платёжные реквизиты'),
                      ('docs', 'Документы')] %}
    {% if loop.index == 1 %}
      <li class="nav-item active">
        <a href="#{{ id }}">{{ name }}</a>
      </li>
    {% else %}
      <li class="nav-item">
        <a href="#{{ id }}">{{ name }}</a>
      </li>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block mob_nav %}
  {% for id, icon in [('about', 'info'),
                      ('achievments', 'star'),
                      ('graduates', 'school'),
                      ('history', 'class'),
                      ('staff', 'people'),
                      ('jobs', 'work'),
                      ('dorm', 'local_hotel'),
                      ('first-aid', 'local_hospital'),
                      ('pay_details', 'account_balance_wallet'),
                      ('docs', 'insert_drive_file')] %}
    {% if loop.index == 1 %}
      <li class="nav-item active">
        <a href="#{{ id }}"><i class="icon icon-{{ icon }}"></i></a>
      </li>
    {% else %}
      <li class="nav-item">
        <a href="#{{ id }}"><i class="icon icon-{{ icon }}"></i></a>
      </li>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block content %}
  <div class="anchor" id="about"></div>
  <article>
    <h3>О нас</h3>
    <div class="divider"></div>
    <p>Специализированный учебно-научный центр (СУНЦ) — структурное подразделение ФГАОУ ВО «УрФУ имени первого Президента России Б.Н. Ельцина», созданное в 1990 году как нетиповое структурное подразделение вуза, осуществляющее углублённое дифференцированное
      обучение по программам основного общего и среднего общего образования. Всего в России 4 СУНЦа: в Москве, Санкт-Петербурге, Новосибирске и Екатеринбурге. До мая 2011 года СУНЦ работал в составе Уральского государственного университета имени
      А. М. Горького (УрГУ).</p>
    <p>В настоящее время СУНЦ имеет в своем составе 8 кафедр, укомплектованных профессорско-преподавательским составом УрФУ и учителями. Обучение производится по авторским нетиповым программам; в составе СУНЦ — профильные 8–11 классы гуманитарного,
      социально-гуманитарного, естественнонаучного, физико-математического, информационно-математического, математико-экономического, социально-экономического, физико-химического, физико-технического, политехнического, химико-биологического и биолого-экологического
      профилей. В составе СУНЦ работает также отделение дополнительного платного образования.<br />
      <i>Приём производится в 8, 9 и 10 классы. Работают подготовительные курсы.</i><br>
      <br /> Подробнее о правилах приёма в СУНЦ можно узнать в отделе конкурсного отбора по телефону <b>+7 (343) 365-17-71</b> и в разделе нашего сайта <a href="apply.html">«Как поступить?»</a>.
    </p>
  </article>

  <div class="anchor" id="achievments"></div>
  <article>
    <h3>Достижения</h3>
    <div class="divider"></div>
    <p>Учащиеся СУНЦ УрФУ ежегодно традиционно сильно выступают не только на областных, но и на окружных и Всероссийских олимпиадах. Ниже приведены наиболее значимые результаты выступлений наших учеников за последние 5 лет.</p>
    <div class="columns">
      <div class="col-7 col-md-12">
        <div class="tile tile-centered">
          <div class="tile-icon">
            <i class="icon icon-insert_drive_file centered"></i>
          </div>
          <div class="tile-content">
            <div class="tile-title">
              Выпускники СУНЦ - кандидаты наук
            </div>
            <div class="tile-subtitle">
              14 МБ <b>·</b> PDF-файл <b>·</b> 01 янв 2017
            </div>
          </div>
          <div class="tile-action">
            <a class="btn btn-link" href="#achievments"><i class="icon icon-get_app"></i></a>
          </div>
        </div>
        <div class="tile tile-centered">
          <div class="tile-icon">
            <i class="icon icon-insert_drive_file centered"></i>
          </div>
          <div class="tile-content">
            <div class="tile-title">
              Достижения учеников на олимпиадах
            </div>
            <div class="tile-subtitle">
              14 МБ <b>·</b> PDF-файл <b>·</b> 01 янв 2017
            </div>
          </div>
          <div class="tile-action">
            <a class="btn btn-link" href="#achievments"><i class="icon icon-get_app"></i></a>
          </div>
        </div>
      </div>
    </div>
  </article>

  <div class="anchor" id="graduates"></div>
  <article>
    <h3>Выпускники</h3>
    <div class="divider"></div>
    <div class="columns">
      <form class="col-8 col-sm-10 ml-10">
        <div class="columns m0">
          <div class="form-group col-6 col-xs-12">
            <label class="form-label" for="grad-year">Год выпуска</label> <select class="form-select" id="grad-year">
              <option>Любой</option>
              <option>2016</option>
              <option>2015</option>
              <option>2014</option>
            </select>
          </div>
          <div class="form-group col-6 col-xs-12">
            <label class="form-label" for="letter">Литер класса</label> <select class="form-select" id="letter">
              <option>Любой</option>
              <option>А</option>
              <option>Б</option>
              <option>В</option>
              <option>Г</option>
              <option>Д</option>
              <option>Е</option>
              <option>З</option>
              <option>К</option>
              <option>Л</option>
              <option>С</option>
              <option>М</option>
            </select>
          </div>
        </div>
        <div class="divider text-center" data-content="ИЛИ"></div>
        <div class="form-group">
          <label class="form-label" for="last-name">Фамилия выпускника</label> <input class="form-input" id="last-name" placeholder="Фамилия выпускника" type="text">
        </div>
        <div class="form-group">
          <a class="btn btn-primary" type="submit">Искать</a>
        </div>
      </form>
      <table class="table table-striped col-9 ml-5">
        <thead>
          <tr>
            <th>Фамилия, имя</th>
            <th>Год выпуска</th>
            <th>Литер</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Афлаханова Алина</td>
            <td>2016</td>
            <td>Б</td>
          </tr>
          <tr>
            <td>Белова Полина</td>
            <td>2016</td>
            <td>Б</td>
          </tr>
          <tr>
            <td>Ботева Мария</td>
            <td>2016</td>
            <td>Б</td>
          </tr>
          <tr>
            <td>Волобуева Софья</td>
            <td>2016</td>
            <td>Б</td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>

  <div class="anchor" id="history"></div>
  <article>
    <h3>История</h3>
    <div class="divider"></div>
    <p>Специализированный учебно-научный центр Уральского университета начал свою работу 1 сентября 1989 года, когда были организованы лицейские классы на базе школы-интерната № 19. Однако нашим официальным годом рождения считается 1990: в апреле этого
      года было издано соответствующее постановление Правительства СССР об организации СУНЦ. В 1990–2011 годах СУНЦ являлся структурным подразделением Уральского государственного университета им. А. М. Горького (УрГУ), а с мая 2011 года, в связи
      с присоединением УрГУ к УрФУ, СУНЦ находится в составе Уральского федерального университета имени первого Президента России Б. Н. Ельцина (УрФУ).</p>
    <p>Личное участие в создании СУНЦ приняли ректор УрГУ Паригорий Евстафьевич Суетин и первый проректор Рудольф Германович Пихоя, непосредственно занимавшийся всеми организационными вопросами. Первыми руководителями СУНЦ были Гермоген Иванович Аввакумов
      (директор школы-интерната № 19, на базе которой работал СУНЦ) и Михаил Аронович Вербук (занимавший должность декана СУНЦ). А осенью 1990 года проректором-директором СУНЦ стал Александр Иванович Кроткий.</p>
    <figure class="figure">
      <img alt="П. Е. Суетин" class="img-responsive" src="assets/img/suetin.jpg">
      <figcaption class="figure-caption text-center">
        П. Е. Суетин
      </figcaption>
    </figure>
    <figure class="figure">
      <img alt="Р. Г. Пихоя" class="img-responsive" src="assets/img/pihoya.jpg">
      <figcaption class="figure-caption text-center">
        Р. Г. Пихоя
      </figcaption>
    </figure>
    <figure class="figure">
      <img alt="Г. И. Аввакумов" class="img-responsive" src="assets/img/avvakumov.jpg">
      <figcaption class="figure-caption text-center">
        Г. И. Аввакумов
      </figcaption>
    </figure>
    <figure class="figure">
      <img alt="М. А. Вербук" class="img-responsive" src="assets/img/verbuk.jpg">
      <figcaption class="figure-caption text-center">
        М. А. Вербук
      </figcaption>
    </figure>
    <figure class="figure">
      <img alt="А. И. Кроткий" class="img-responsive" src="assets/img/krotky.jpg">
      <figcaption class="figure-caption text-center">
        А. И. Кроткий
      </figcaption>
    </figure>
    <p>В первые годы существования СУНЦ (1989–1991) его неформальный пресс-центр периодически готовил материалы о нашей жизни для газеты «Уральский университет»; сегодня эти материалы — уже часть нашей истории...<br> Ознакомиться с некоторыми из них
      можно <a href="#">здесь</a>.</p>
    <h6>Как мы дошли до жизни такой (октябрь 1999 года)</h6><cite class="ml-5">Профессор Зиновий Исаакович Урицкий</cite>
    <section class="mt-5">
      <p>Впервые проблему создания учебного заведения для старшеклассников поставили физики более тридцати лет тому назад, когда физический факультет университета начал заниматься организацией областного тура всесоюзной физической олимпиады. В то время
        уже были созданы физматшколы при Московском и Новосибирском университетах. К сожалению, проблема организации этой школы оказалась сложной настолько, что лишь 10 лет тому назад ее удалось решить. К этому времени к решению задачи подключился
        ректорат университета, в результате созданная школа изначально отличалась от московской и новосибирской: было решено создавать сразу многопрофильную школу, включающую классы с углубленным изучением не только физики и математики, но и химии,
        и биологии, и гуманитарных предметов.</p>
      <p>Было создано две кафедры — гуманитарного и естественнонаучного образования. Постепенно, с увеличением числа учащихся и классов, кафедра естественнонаучного образования разделилась на кафедры физики, химии и биологии, математики и информатики.
        Были созданы отдел информатики, кафедры иностранных языков и психофизической культуры. В составе гуманитарной кафедры был выделен филологический сектор — так создавалась современная структура СУНЦ. Существенным фактором было то, что СУНЦ
        сразу создавался как подразделение УрГУ, поэтому изначально учебные планы и программы обучения разрабатывались в СУНЦе и утверждались его Ученым советом. Вся зта работа проводилась в тесном сотрудничестве с факультетами университета. Представители
        факультетов вошли в состав Ученого совета СУНЦ, а на Ученых советах факультетов обсуждались наши программы и организация учебного процесса по профилю факультета.</p>
      <p>Изначально предусматривалась организация факультативных курсов, выходящих за рамки программы общего обучения. Занятия на факультативах проводили и проводят в настоящее время ведущие преподаватели факультетов и научные сотрудники институтов
        УрО РАН.</p>
      <p>Такая организация учебного процесса, естественно, была рассчитана на работу с наиболее одаренными учащимися и итоги нашей десятилетней деятельности подтверждают правильность нашего выбора. За эти годы не было ни одного случая, когда в команду
        победителей областной олимпиады по физике не выходили бы учащиеся СУНЦа. Не говоря уже о том, что бывали случаи, когда два, а то и все три участника команды области были нашими учащимися. В течение многих лет команда СУНЦ успешно выступала
        в турнире юных физиков, в том числе в международных турнирах в Чехословакии, Германии, Австрии.</p>
    </section>
    <h6>Так начиналось (октябрь 1999 года)</h6><cite class="ml-5">Профессор Валерий Самуилович Рабинович</cite>
    <section class="mt-5">
      <p>Осень 1989 года. Улица, которая называлась не Данилы Зверева, а Голощекина. Первая осень нашего СУНЦа, который тогда еще не назывался СУНЦем, а представлял собой лицейские классы школы-интерната № 19. Три десятых и один одиннадцатый. И всего
        два преподавателя-словесника. Вернее, вначале один, а два — с конца сентября или с начала октября, когда на вакантные часы в естественнонаучном классе пришел автор этих строк, тогда 24-летний недавний выпускник филологического факультета
        университета, почти без педагогического опыта, по сути — «кот в мешке». В тот год и начала складываться система филологического образования в Лицее.</p>
      <p>Итак, самый конец 80-х, на дворе — знаменитая «перестройка», старая модель преподавания литературы (изучают только 8 авторов: М. Горького, В. Маяковского, А. Блока, С. Есенина, А. Фадеева, Н. Островского, М. Шолохова, А. Твардовского). И мы
        — на ходу, часто имея дни на раздумье, вводили в программу новых авторов. Перестройка набирала обороты, — в «толстых» журналах появлялись все новые и новые прежде запрещенные произведения, прямо из журналов они «перекочевывали» в класс.
        А потом уже получилось так, что многое из того, что тогда вошло в наши курсы литературы, 5–6 лет спустя вошло во всевозможные базисные планы — как обязательное для изучения. А тогда — мы упивались свободой, мало думая о бренной материи.
        Честно говоря — я не помню, сколько я в первые годы работы в СУНЦ зарабатывал. Мне это не было интересно. Теперь понимаешь, что все мы — и педагоги, и ученики, и даже начальство — находились тогда в состоянии легкого недоедания, но об этом
        не думали.</p>
      <p>Я до сих пор с ностальгией вспоминаю свои зачеты того времени — когда полуголодные лицеисты сидели, случалось, и до 10 вечера, и каждый хотел сказать больше, высказать себя, поспорить со мной, а потом мы вместе ехали по домам в нашем родном
        14-м автобусе, а рядом оживленно беседовали о всевозможных, по большей части нематериальных, материях другие лицеисты, «припозднившиеся» в кабинете другого педагога. Чем жили? Наверное — «святым духом» и надеждами на грядущую светлую жизнь
        в грядущей обновленной демократической России. И ощущением того, что мы эту жизнь строим.</p>
      <p>Хотелось бы здесь назвать два имени тех, чей вклад в развитие филологического образования в нашем Лицее я считаю особенно важным. Во-первых, это — светлой памяти Михаил Аронович Вербук. Он не был преподавателем литературы — хотя некогда, кстати,
        окончил филологический факультет нашего университета. Он был одним из руководителей Лицея. Человек уже в возрасте, фронтовик, в конце 80-х загорелся идеей воспитания нового поколения не идеологизированного, не «зашоренного», открытого мировой
        культуре, живущего не по моральному кодексу строителя коммунизма, а в соответствии с общечеловеческими ценностями (наверное, потому он так горячо поддерживал идею введения во всех лицейских классах курса зарубежной литературы).</p>
      <p>Наш Лицей стал его «лебединой песней». И особую роль для него играло гуманитарное образование в Лицее. Он с самого начала очень хорошо понимал опасность «технократизации» нашего учебного заведения, отсюда его особое внимание к нам, гуманитариям.
        Он и подбирал кадры. По какому принципу? Наверное — доверяясь своему человеческому чутью. Он мог проигнорировать отсутствие опыта, отсутствие «прежних заслуг» и весомых рекомендаций. Мне кажется, ему важнее было ощутить, что перед ним —
        носитель того сплава человеческих качеств, присутствие которого позволяет сказать: это интеллигентный человек. То есть — мягкий, терпимый, уважающий чужое мнение, открытый новому знанию, ну и еще — элементарно порядочный, с чувством ответственности.
        Михаил Аронович понимал — профессионализм приложится; достойный курс такой человек разработает «с колес», прямо по ходу работы, он будет воспитывать не только своими знаниями, но и своей личностью.</p>
      <p>Михаил Аронович искал таких людей, убеждал приходить в Лицей, случалось — переманивал. А дальше уже, позволяя работать по существу свободно, творчески, Михаил Аронович отводил себе роль «пожилого прагматика», который периодически ненавязчиво
        «приземлял» череcчур романтичных педагогов, напоминая о реалиях бытия. И еще он воспитывал нас творчеством. Нашим собственным творчеством. Я помню, как он предложил мне, проработавшему тогда в Лицее всего год, написать книгу: тексты своих
        лекций с методическим обоснованием. Для учителей других учебных заведений. Я по себе понял — ставшее напечатанным слово окрыляет его автора. И в роли заведующего филологической кафедрой стараюсь поддерживать работу наших «словесников» над
        собственными книгами. Светлой памяти Михаил Аронович Вербук, спасибо вам!</p>
      <p>Другое имя, которое я хотел назвать, — Татьяна Васильевна Лопатина, ныне, к сожалению, в Лицее не работающая. Она и есть — тот самый первый «словесник» Лицея, встретивший в наших стенах 1 сентября 1989 года. Она во многом заложила основу нынешнего
        стиля работы лицейских филологов. Я всегда ощущал подсознательное отталкивание от некоторых традиционных школьных схем общения с учениками. Мне и сейчас трудно понять, как можно оценить по 5-балльной шкале постижение художественного текста,
        как можно количественно измерить открытие учеником для самого себя Пушкина, Пастернака, апеллируя к чисто «желудочному» страху перед двойкой, перед испорченным аттестатом. Татьяна Васильевна Лопатина обучала почти без оценок, вернее — без
        баллов; она оценивала словами, сораздумьями, соразмышленьями с учеником. Ее ученики не знали, отлично, хорошо или удовлетворительно они открывали для себя русскую литературу, просто на их раздумья она отвечала своими, отнюдь не претендующими
        на какую-то высшую истинность, но дающими новый ракурс виденья. Ее не боялись — и при этом учились. И я, а вслед за мной вновь приходящие на работу «словесники» видели — наша мечта о преподавании литературы без насилия осуществима, и это
        во многом определяло и наш стиль работы.</p>
      <p>Конечно, новые реалии лицейской жизни последних лет заставляют нас кое в чем от этого стиля отходить. В самом деле, 740 учеников — это не 100 (первый год жизни Лицея), и даже не 175 (2-й год), и даже не 300 (З-й год). Ужесточение ситуации
        с поступлением в вузы также порой ориентирует нас на жесткую дрессировку учеников! Получается, что так, как работала Татьяна Васильевна Лопатина, в сегодняшнем Лицее работать едва ли возможно. Мечта, казавшаяся осуществимой, вновь упорхнула
        из сферы реальности в сферу утопии. Но неотъемлемой частью того самого знаменитого «лицейского духа» стал стиль Татьяны Васильевны Лопатиной — который незримо определяет в главном работу филологов сегодняшнего Лицея.</p>
      <p>Вот так мы работали в первые годы — часто спонтанно, часто — без долгосрочной программы действий, «с листа». А программы и концепции рождались потом — как оформление того, что уже существовало в живом учительском слове, в головах и душах учеников.
        «И странным виденьем грядущей поры / Вставало в дали все пришедшее после...»</p>
    </section>
    <h6>Гимн СУНЦ УрФУ</h6><cite class="ml-5">Автор музыки (предположительно): <b>И. Окенгейм</b></cite><br>
    <cite class="ml-5">Автор слов: <b>И. С. Огоновская</b></cite><br>
    <section class="hymn mt-5">
      <p>Нашему Лицею пропоем мы славу,<br> Мы гордимся званием "лицеист" по праву,<br> Постигаем мы науки,<br> Трудимся, не зная скуки,<br> Мы не знаем скуки. (2 раза)</p>
      <p>Знаем мы заранее - тяжек путь к познанию,<br> Но настойчивость и труд нас к вершинам приведут,<br> Нам нести науки знамя,<br> Чтоб лицей гордился нами,<br> Чтоб гордился нами. (2 раза)</p>
      <p>Наши педагоги и добры, и строги,<br> Принимают муки на алтаре науки.<br> Замечательные люди -<br> Никогда их не забудем,<br> Мы их не забудем. (2 раза)</p>
      <p>Пусть живет лицей века, умножая славу.<br> Вот ему моя рука - он мой друг по праву.<br> Мы пройдем по жизни вместе,<br> Пусть живет лицея песня.<br> Наш лицей как песня. (2 раза)</p>
      <div class="columns">
        <div class="col-7 col-md-12">
          <div class="tile tile-centered">
            <div class="tile-icon">
              <i class="icon icon-music_note centered"></i>
            </div>
            <div class="tile-content">
              <div class="tile-title">
                Музыка гимна СУНЦ
              </div>
              <div class="tile-subtitle">
                14 МБ <b>·</b> MID-файл <b>·</b> 01 янв 2017
              </div>
            </div>
            <div class="tile-action">
              <a class="btn btn-link" href="#"><i class="icon icon-get_app"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>

  <div class="anchor" id="staff"></div>
  <article>
    <h3>Сотрудники</h3>
    <div class="divider"></div>
    <div class="columns">
      <form class="col-6 col-sm-10">
        <div class="form-group">
          <label class="form-label" for="name">Фамилия сотрудника</label> <input class="form-input" id="name" placeholder="Фамилия" type="text"> <label class="form-label" for="unit">Структурное подразделение</label> <input class="form-input" id="unit"
            placeholder="Структурное подразделение" type="text">
        </div>
        <div class="form-group">
          <a class="btn btn-primary" type="submit">Искать</a>
        </div>
      </form>
    </div>
    <table class="table table-striped hide-md">
      <thead>
        <tr class="text-center">
          <th>ФИО</th>
          <th>Подразделение</th>
          <th>Должность</th>
          <th>Кабинет</th>
          <th>Телефон<br> городской
          </th>
          <th>Тел.<br> мест.
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Мартьянов Андрей Александрович</td>
          <td>Администрация</td>
          <td>Директор</td>
          <td>112</td>
          <td>341-06-59</td>
          <td>101</td>
        </tr>
        <tr>
          <td>Квакина Елена Александровна</td>
          <td>Администрация</td>
          <td>Помощник директора</td>
          <td>112</td>
          <td>341-06-59</td>
          <td>102</td>
        </tr>
      </tbody>
    </table>
    <section class="show-md">
      <div class="tile">
        <div class="tile-content">
          <div class="flex">
            <p class="tile-title">Мартьянов Андрей Александрович</p>
            <span>
              <div class="label text-centered">
                Администрация
              </div>
            </span>
          </div>
          <p class="tile-subtitle"><i>Директор</i><br /> каб. 112, тел. 341-06-59 (местный 101)</p>
        </div>
      </div>
      <div class="tile">
        <div class="tile-content">
          <div class="flex">
            <p class="tile-title">Квакина Елена Александровна</p>
            <span>
              <div class="label text-centered">
                Администрация
              </div>
            </span>
          </div>
          <p class="tile-subtitle"><i>Помощник директора</i><br /> каб. 112, тел. 341-06-59 (местный 102)</p>
        </div>
      </div>
    </section>
  </article>

  <div class="anchor" id="jobs"></div>
  <article>
    <h3>Вакансии</h3>
    <div class="divider"></div>
    <h6>На постоянную работу в СУНЦ УрФУ требуется:</h6>
    <ul>
      <li>учитель английского языка</li>
    </ul>
    <p>Справки по телефону <b>+7 (343) 341-26-48</b></p>
  </article>

  <div class="anchor" id="dorm"></div>
  <article>
    <h3>Общежитие</h3>
    <div class="divider"></div>
    <h6>Немного истории...</h6>
    <section class="mt-10">
      <p>Общежитие-интернат СУНЦ возникло с момента образования лицея.</p>
      <p>В первые же годы существующие комнаты (доставшиеся нам «в наследство» от интерната № 19, который раньше был в здании СУНЦ) были переделаны в 2–3-местные. Сегодня в общежитии имеются специально оборудованные комната для занятий, кинозал, комната
        для чаепитий, в которой отмечаются дни рождения.</p>
      <p>Обучаются в СУНЦ УрФУ и проживают в общежитии ребята не только из городов и поселков Свердловской области, но и из Тюменской, Курганской областей, Башкортостана, других регионов России. В настоящее время в общежитии живет около 200 человек.</p>
      <p>У нас сложился сплоченный коллектив воспитателей. Со дня основания в нем работает Н. К. Коптева. 18 лет отдали воспитательской работе А. А. Пименова, Н. С. Филаретова, много лет успешно трудятся Н. С. Зенкина, Н. Ю. Ефимова, Ю. Я. Поляк, Н.
        П. Алексеева. Большинство воспитателей имеют высшее педагогическое образование. После закрытия интерната № 19 воспитателем в нашем общежитии стала заслуженный учитель России Анна Алексеевна Воробьева. Коллектив воспитателей много лет успешно
        возглавляет Людмила Александровна Симакова.</p>
      <p>В общежитии ведется разнообразная культурно-массовая работа, большой вклад в организацию которой вносит А. В. Звонарева. Ежегодно в общежитии проводятся вечера «Будем знакомы», «Последний звонок»; работает клуб «Земляки». Любителей поэзии
        собирает поэтический клуб «Свеча». Ребята с удовольствием участвуют в спортивно-развлекательной игре «Мельница». Регулярно организуются концерты, в которых ребята демонстрируют свои таланты в музыке, пении, танцах.</p>
      <p>Словом, силами воспитателей и, конечно, самих ребят в общежитии СУНЦ УрФУ делается все, чтобы проживающие чувствовали себя комфортно и имели возможность для духовного и культурного развития.</p>
    </section>
    <!-- Carousel не работает, добавить позже -->
    <a href="https://66.ru/news/society/192873/">Репортаж из общежития СУНЦ на сайте 66.ru</a>
  </article>

  <div class="anchor" id="first-aid"></div>
  <article>
    <h3>Медицинский пункт</h3>
    <div class="divider"></div>
    <p>Телефон медпункта: <b>+7 (343) 360-28-28</b><br> Врач СУНЦ — <b>Александр Аркадьевич Бубнов</b><br> Медицинская сестра — <b>Людмила Генриховна Аукэ</b><br> Медицинский кабинет (№ 126) расположен на первом этаже здания литеры «А» (напротив отдела
      конкурсного отбора).</p>
    <div>
      <div class="tile tile-centered tile-mini">
        <div class="tile-icon">
          <i class="icon icon-insert_drive_file centered"></i>
        </div>
        <div class="tile-content columns">
          <div class="tile-title col-8 col-lg-12">
            Информированное добровольное согласие на виды медицинских вмешательств (бланк)
          </div>
          <div class="tile-subtitle col-4 hide-lg text-right">
            14 МБ <b>·</b> PDF-файл <b>·</b> 01 янв 2017
          </div>
        </div>
        <div class="tile-action">
          <a class="btn btn-link" href="#"><i class="icon icon-get_app"></i></a>
        </div>
      </div>
      <div class="tile tile-centered tile-mini">
        <div class="tile-icon">
          <i class="icon icon-insert_drive_file centered"></i>
        </div>
        <div class="tile-content columns">
          <div class="tile-title col-8 col-lg-12">
            Информированное добровольное согласие на вакцинацию (бланк)
          </div>
          <div class="tile-subtitle col-4 hide-lg text-right">
            14 МБ <b>·</b> PDF-файл <b>·</b> 01 янв 2017
          </div>
        </div>
        <div class="tile-action">
          <a class="btn btn-link" href="#"><i class="icon icon-get_app"></i></a>
        </div>
      </div>
      <div class="tile tile-centered tile-mini">
        <div class="tile-icon">
          <i class="icon icon-insert_drive_file centered"></i>
        </div>
        <div class="tile-content columns">
          <div class="tile-title col-8 col-lg-12">
            Пакет медицинских документов (для поступивших в СУНЦ)
          </div>
          <div class="tile-subtitle col-4 hide-lg text-right">
            14 МБ <b>·</b> PDF-файл <b>·</b> 01 янв 2017
          </div>
        </div>
        <div class="tile-action">
          <a class="btn btn-link" href="#"><i class="icon icon-get_app"></i></a>
        </div>
      </div>
    </div>
  </article>

  <div class="anchor" id="pay_details"></div>
  <article>
    <h3>Общие и платёжные реквизиты</h3>
    <div class="divider"></div>
    <table class="table table-striped mb-10">
      <thead>
        <tr>
          <th colspan="2">Общие реквизиты</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Полное наименование</td>
          <td>Специализированный учебно-научный центр федерального государственного<br> автономного образовательного учреждения высшего образования<br> «Уральский федеральный университет имени первого Президента России Б.Н. Ельцина»</td>
        </tr>
        <tr>
          <td>Краткое наименование</td>
          <td>СУНЦ УрФУ</td>
        </tr>
        <tr>
          <td>Организационно-правовая форма</td>
          <td>Структурное подразделение автономного учреждения</td>
        </tr>
        <tr>
          <td>Юридический адрес</td>
          <td>Мира ул., 19, Екатеринбург<br> 620002
          </td>
        </tr>
        <tr>
          <td>Фактический адрес</td>
          <td>Данилы Зверева ул., 30, Екатеринбург<br> 620137
          </td>
        </tr>
        <tr>
          <td>Телефон/факс</td>
          <td>+7 (343) 341-06-59</td>
        </tr>
        <tr>
          <td>E-mail</td>
          <td><code>lyceum@urfu.ru</code></td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th colspan="2">Платёжные реквизиты</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Получатель</td>
          <td colspan="2">ФГАОУ ВО «УрФУ имени первого Президента России Б. Н. Ельцина»</td>
        </tr>
        <tr>
          <td>Банк получателя</td>
          <td colspan="2">ПАО «СКБ-банк» г. Екатеринбург</td>
        </tr>
        <tr>
          <td>Номера счетов</td>
          <td colspan="2">Р/счет <b>40503810913804000006</b><br> Кор. сч. <b>30101810800000000756</b></td>
        </tr>
        <tr>
          <td>Коды</td>
          <td colspan="2">ИНН 6660003190<br> КПП 667001001<br> БИК 046577756<br> КБК 00000000000000000130</td>
        </tr>
        <tr>
          <td>Назначение платежа<br>
            <b>(указывать обязательно!)</b></td>
          <td colspan="2">За содержание (ФИО учащегося полностью) в СУНЦ УрФУ, лицевой счет <b>307р</b>. Без НДС<br> (для обучающихся за счет средств федерального бюджета)<br>
            <em>---------- или ----------</em><br> За платные образовательные услуги (ФИО учащегося полностью), лицевой счет <b>307</b>,<br> договор №________ (указать номер договора). Без НДС<br> (для обучающихся на ОДПО или на подготовительных
            курсах)</td>
        </tr>
        <tr>
          <td>Места приёма наличных платежей</td>
          <td colspan="2">
            Любая операционная касса ПАО «СКБ-банк»<br>
            <a href="http://skbbank.ru/offices">Полный список офисов банка в Екатеринбурге</a>
          </td>
        </tr>
      </tbody>
    </table>
  </article>

  <div class="anchor" id="docs"></div>
  <article>
    <h3>Документы</h3>
    <div class="divider"></div>
    <div class="divider text-center" data-content="ЕГЭ / ГИА"></div>
    <div>
      <div class="tile tile-centered tile-mini">
        <div class="tile-icon">
          <i class="icon icon-insert_drive_file centered"></i>
        </div>
        <div class="tile-content columns">
          <div class="tile-title col-8 col-lg-12">
            Расписание ЕГЭ в 2017 году
          </div>
          <div class="tile-subtitle col-4 hide-lg text-right">
            14 МБ <b>·</b> PDF-файл <b>·</b> 01 янв 2017
          </div>
        </div>
        <div class="tile-action">
          <a class="btn btn-link" href="#"><i class="icon icon-get_app"></i></a>
        </div>
      </div>
      <div class="tile tile-centered tile-mini">
        <div class="tile-icon">
          <i class="icon icon-insert_drive_file centered"></i>
        </div>
        <div class="tile-content columns">
          <div class="tile-title col-8 col-lg-12">
            Расписание ОГЭ в 2017 году
          </div>
          <div class="tile-subtitle col-4 hide-lg text-right">
            14 МБ <b>·</b> PDF-файл <b>·</b> 01 янв 2017
          </div>
        </div>
        <div class="tile-action">
          <a class="btn btn-link" href="#"><i class="icon icon-get_app"></i></a>
        </div>
      </div>
      <div class="tile tile-centered tile-mini">
        <div class="tile-icon">
          <i class="icon icon-slideshow centered"></i>
        </div>
        <div class="tile-content columns">
          <div class="tile-title col-8 col-lg-12">
            Презентация «Итоговая аттестация — 2017» (для выпускников 11 класса)
          </div>
          <div class="tile-subtitle col-4 hide-lg text-right">
            14 МБ <b>·</b> Презентация PowerPoint <b>·</b> 01 янв 2017
          </div>
        </div>
        <div class="tile-action">
          <a class="btn btn-link" href="#"><i class="icon icon-get_app"></i></a>
        </div>
      </div>
    </div>
    <div class="divider text-center" data-content="УрФУ"></div>
    <div>
      <div class="tile tile-centered tile-mini">
        <div class="tile-icon">
          <i class="icon icon-insert_drive_file centered"></i>
        </div>
        <div class="tile-content columns">
          <div class="tile-title col-8 col-lg-12">
            Устав УрФУ (редакция от 15.04.2016)
          </div>
          <div class="tile-subtitle col-4 hide-lg text-right">
            14 МБ <b>·</b> PDF-файл <b>·</b> 01 янв 2017
          </div>
        </div>
        <div class="tile-action">
          <a class="btn btn-link" href="#"><i class="icon icon-get_app"></i></a>
        </div>
      </div>
    </div>
  </article>
{% endblock %}

{% block js %}
  <script src="//code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="{{ url_for('static', filename='js/common.js') }}"></script>
{% endblock %}
