<!DOCTYPE html>
<html lang="ru">

<head>
  {% block head %}
  <title>СУНЦ УрФУ - {% block title %}{% endblock %}</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon" />
  <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/spectre.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet" type="text/css" />
  {% block css %}{% endblock %}
  <link href="{{ url_for('static', filename='css/icons.css') }}" rel="stylesheet" type="text/css" />
  {% endblock %}
</head>

<body>
  <header>
    <section class="grid-header container grid-960 pt-10 pb-10">
      <nav class="navbar">
        <section class="nav-left navbar-section">
          <a class="no-outline" href="{{ url_for('index') }}"><img alt="СУНЦ УрФУ" class="img-responsive" id="logo" src="{{ url_for('static', filename='img/logo-no-text.png') }}"></a>
          <div class="hide-md">
            {% for href, name in [('about.html', 'О нас'), ('study.html', 'Учёба'),
                                  ('departments.html', 'Кафедры'), ('commercial.html', 'ОДПО'),
                                  ('contests.html', 'Соревнования')] %}
              {% if loop.index == 1 %}
                <a class="btn btn-link" href="{{ href }}">{{ name }}</a><!--
              {% elif loop.index == 5 %}
                --><a class="btn btn-link" href="{{ href }}">{{ name }}</a>
              {% else %}
                --><a class="btn btn-link" href="{{ href }}">{{ name }}</a><!--
              {% endif %}
            {% endfor %}
          </div>
        </section>
        <section class="navbar-section">
          <div class="dropdown">
            <div class="btn-group">
              <a class="btn btn-primary" href="apply.html" target="_blank">Как поступить?</a> <a class="btn btn-primary show-md dropdown-toggle" tabindex="0"><i class="icon icon-menu"></i></a>
              <ul class="menu">
              {% for href, name in [('about.html', 'О нас'), ('study.html', 'Учёба'),
                                    ('departments.html', 'Кафедры'), ('commercial.html', 'ОДПО'),
                                    ('contests.html', 'Соревнования')] %}
                <li>
                  <a class="btn btn-link" href="{{ href }}">{{ name }}</a>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </section>
      </nav>
    </section>
  </header>
  <main>
    <aside class="hide-lg">
      <div class="sidebar">
        <ul class="nav">
          {% block pc_nav %}{% endblock %}
        </ul>
      </div>
    </aside>
    <aside class="show-lg">
      <div class="sidebar">
        <ul class="nav">
          {% block mob_nav %}{% endblock %}
        </ul>
      </div>
    </aside>
    <section class="maintext">
      <div class="ml-10 mt-10">
        {% block content %}{% endblock %}
      </div>
    </section>
  </main>
  <footer>
    <div class="pt-10 pb-10"></div>
  </footer>

  {% block js %}{% endblock %}
</body>

</html>
