<!DOCTYPE html>
<html lang="ru">

<head>
  <title>СУНЦ УрФУ - Главная</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />
  <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/spectre.css') }}" type="text/css" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/main.css') }}" type="text/css" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/icons.css') }}" type="text/css" rel="stylesheet" />
</head>

<body>
  <header>
    <section class="grid-header container grid-960 pt-10 pb-10">
      <nav class="navbar">
        <section class="navbar-primary">
          <a class="no-outline hide-xs" href="index.html">
            <img class="img-responsive header-logo" id="logo" src="{{ url_for('static', filename='img/logo.svg') }}" alt="СУНЦ УрФУ">
          </a>
          <a class="no-outline show-xs" href="index.html">
            <img class="img-responsive header-logo" id="logo" src="{{ url_for('static', filename='img/logo-no-text.png') }}" alt="СУНЦ УрФУ">
          </a>
        </section>
        <section class="navbar-section hide-md">
          <div class="flex">
            {% for href, name in [('/about', 'О нас'), ('/study', 'Учёба'),
                                  ('/departments', 'Кафедры'), ('/commercial', 'ОДПО'),
                                  ('/contests', 'Соревнования')] %}
              {% if loop.index == 1 %}
                <a class="btn btn-link" href="{{ href }}">{{ name }}</a><!--
              {% elif loop.index == 5 %}
                --><a class="btn btn-link" href="{{ href }}">{{ name }}</a>
              {% else %}
                --><a class="btn btn-link" href="{{ href }}">{{ name }}</a><!--
              {% endif %}
            {% endfor %}
          </div>
          <blockquote>Ложь - лазновидность зелновой культулы</blockquote>
        </section>
        <section class="navbar-section">
          <div class="dropdown">
            <div class="btn-group">
              <a class="btn btn-primary" href="{{ url_for('apply') }}" target="_blank">Как поступить?</a>
              <a class="btn btn-primary show-md dropdown-toggle" tabindex="0">
                <i class="icon icon-menu"></i>
              </a>
              <ul class="menu">
              {% for href, name in [('/about', 'О нас'), ('/study', 'Учёба'),
                                    ('/departments', 'Кафедры'), ('/commercial', 'ОДПО'),
                                    ('/contests', 'Соревнования')] %}
                <li>
                  <a class="btn btn-link" href="{{ href }}">{{ name }}</a>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </section>
      </nav>
    </section>
  </header>
  <main>
    <div class="container">

      <div class="columns">
        <div class="column col-12">
          <div class="columns">
            <div class="column col-lg-12">
              <a class="card large-card" href="#">
                <div class="card-image">
                  <img src="https://picturepan2.github.io/spectre/img/osx-el-capitan-2.jpg" class="img-responsive" />
                </div>
                <div class="card-header">
                  <h4 class="card-title">Математика и не только</h4>
                  <h6 class="card-subtitle">3 апреля в 16:00</h6>
                </div>
                <div class="card-body">
                  Как прошёл Открытый математический турнир
                </div>
              </a>
            </div>

            <div class="column col-lg-12">
              <div class="columns additional-news">
                <div class="column col-12">
                  <a class="card card-news columns col-gapless" href="#">
                    <div class="column col-4 hide-sm">
                      <div class="card-image">
                        <img src="https://picturepan2.github.io/spectre/img/osx-yosemite.jpg" class="img-responsive" />
                      </div>
                    </div>
                    <div class="column col-8 col-sm-12">
                      <div class="card-header">
                        <h4 class="card-title">Впереди — международный ТЮФ!</h4>
                        <h6 class="card-subtitle">30 марта</h6>
                      </div>
                      <div class="card-body">
                        Как прошёл Турнир юных физиков
                      </div>
                    </div>
                  </a>

                </div>



                <div class="column col-12">
                  <a class="card card-news columns col-gapless" href="#">
                    <div class="column col-4 hide-sm">
                      <div class="card-image">
                        <img src="https://picturepan2.github.io/spectre/img/osx-yosemite.jpg" class="img-responsive" />
                      </div>
                    </div>
                    <div class="column col-8 col-sm-12">
                      <div class="card-header">
                        <h4 class="card-title">СУНЦ переходит к интегрированному обучению</h4>
                        <h6 class="card-subtitle">1 апреля</h6>
                      </div>
                      <div class="card-body">
                        О новшествах в обучении лицеистов
                      </div>
                    </div>
                  </a>

                </div>

                <div class="column col-12">
                  <a class="card card-news columns col-gapless" href="#">
                    <div class="column col-4 hide-sm">
                      <div class="card-image">
                        <img src="https://picturepan2.github.io/spectre/img/osx-yosemite.jpg" class="img-responsive" />
                      </div>
                    </div>
                    <div class="column col-8 col-sm-12">
                      <div class="card-header">
                        <h4 class="card-title">Лицеисты победили в олимпиаде по информатике</h4>
                        <h6 class="card-subtitle">29 марта</h6>
                      </div>
                      <div class="card-body">
                        Как прошла Вузовско-академическая олимпиада по информатике
                      </div>
                    </div>
                  </a>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <li class="divider"></li>

      <div class="columns">
        <div class="column col-lg-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                <i class="icon icon-cake"></i> Поздравляем!
              </h4>
            </div>

            <div class="card-body">
              <dl class="pl-5">
                <dt>Ждун Васильевич</dt>
                <dd>за самое спокойное лицо в мире</dd>
              </dl>

            </div>
          </div>
        </div>
        <div class="column col-lg-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                <i class="icon icon-poll"></i> А твоё мнение?
              </h4>
            </div>

            <div class="card-body">
              <h6 class="text-left mb-5">
                Вам нравится Кафка?
              </h6>
              <form>
                <div class="form-group">
                  <label class="form-radio">
                    <input type="radio" name="gender" checked />
                    <i class="form-icon"></i> Даааа!
                  </label>
                  <label class="form-radio">
                    <input type="radio" name="gender" />
                   	<i class="form-icon"></i> Нет: опять скука и бред
                  </label>
                  <label class="form-radio">
                    <input type="radio" name="gender" />
                   	<i class="form-icon"></i> То да, то нет, сам(а) не могу понять
                  </label>
                  <label class="form-radio">
                    <input type="radio" name="gender" />
                    <i class="form-icon"></i> Кафка не вызывает у меня эмоций
                  </label>
                </div>

                <div class="form-group btn-group btn-group-block">
                  <a class="btn btn-primary btn-sm" type="submit">
                    Проголосовать
                  </a>
                  <a href="#" class="btn btn-sm">
                    Результаты
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="column col-lg-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                <i class="icon icon-library_books"></i> Стихотворение недели
              </h4>
            </div>

            <div class="card-body">
              <blockquote>
                <p>
                  Славься, великая Призма, <br>
                  Славься во веки веков! <br>
                  Святость Твою почитаем &mdash; <br>
                  Ты наш единственный Богъ! <br>
                </p>
                <cite>- Гений</cite>
              </blockquote>
              <button class="btn">Читать полностью</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="container grid-footer grid-960">
      <div class="columns">
        <div class="column col-xs-6">
          <h5>Контакты</h5>
          <ul class="nav">
            <li class="nav-item">
              <a href="/contact">Написать нам</a>
            </li>
            <li class="nav-item">
              <a href="/about#pay_details">Платёжные реквизиты</a>
            </li>
          </ul>
        </div>
        <div class="column col-xs-6">
          <h5>Периодика</h5>
          <ul class="nav">
            <li class="nav-item">
              <a href="#">Журнал "Авангард"</a>
            </li>
            <li class="nav-item">
              <a href="#">Журнал "Архимед"</a>
            </li>
          </ul>
        </div>
        <div class="column col-xs-12">
          <h5>Проекты</h5>
          <ul class="nav">
            <li class="nav-item">
              <a href="#">
                <img src="{{ url_for('static', filename='img/sirius.png') }}"></img>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script src="//code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
